
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias tbr='sudo pkill TouchBarServer;'
alias tbc='sudo killall “ControlStrip”;'



alias rmds=find . -type f -name '*.DS_Store' -ls -delete
